In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36 Edg/125.0.0.0'}
web_page = requests.get('https://www.ambitionbox.com/list-of-companies?page=1', headers=headers).text

In [ ]:
soup = BeautifulSoup(web_page, 'lxml')

In [ ]:
company = soup.find_all('div', class_='companyCardWrapper')

In [ ]:
company[0].find('span', class_='companyCardWrapper__interLinking').text.strip()

'IT Services & Consulting | 1 Lakh+ Employees | Public | 56 years old | Mumbai +351 more'

In [ ]:
len(company)

20

In [ ]:
soup.find('span', class_='companyCardWrapper__interLinking').text.strip().split('|')

['IT Services & Consulting ',
 ' 1 Lakh+ Employees ',
 ' Public ',
 ' 56 years old ',
 ' Mumbai +351 more']

In [ ]:
name = []
rating = []
reviews = []
abt = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span', class_='companyCardWrapper__companyRatingValue').text)
    reviews.append(i.find('span', class_='companyCardWrapper__ActionCount').text)
    abt.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip().split('|'))

In [ ]:
d = {'name': name, 'rating' : rating, 'reviews' : reviews, 'About': abt}

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df.head()

        name rating reviews                                              About
0        TCS    3.8   78.1k  [IT Services & Consulting ,  1 Lakh+ Employees...
1  Accenture    4.0   48.7k  [IT Services & Consulting ,  1 Lakh+ Employees...
2  Cognizant    3.9     44k  [IT Services & Consulting ,  1 Lakh+ Employees...
3      Wipro    3.8   41.8k  [IT Services & Consulting ,  1 Lakh+ Employees...
4  Capgemini    3.8     36k  [IT Services & Consulting ,  1 Lakh+ Employees...

In [ ]:
for j in range(1,2):
    
    url = f'https://www.ambitionbox.com/list-of-companies?page={j}'
    
    headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36 Edg/125.0.0.0'}
    web_page = requests.get(url, headers=headers).text
    
    soup = BeautifulSoup(web_page, 'lxml')
    company = soup.find_all('div', class_='companyCardWrapper')
    
    name = []
    rating = []
    reviews = []
    abt = []

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('span', class_='companyCardWrapper__companyRatingValue').text)
        reviews.append(i.find('span', class_='companyCardWrapper__ActionCount').text)
        abt.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip().split('|'))
        
        d = {'name': name, 'rating' : rating, 'reviews' : reviews, 'About': abt}
        df = pd.DataFrame(d)
        
        final = final.append(df)

In [ ]:
final.head()

        name rating reviews                                              About
0        TCS    3.8   75.1k  [IT Services & Consulting ,  1 Lakh+ Employees...
0        TCS    3.8   75.1k  [IT Services & Consulting ,  1 Lakh+ Employees...
1  Accenture    4.0   46.8k  [IT Services & Consulting ,  1 Lakh+ Employees...
0        TCS    3.8   75.1k  [IT Services & Consulting ,  1 Lakh+ Employees...
1  Accenture    4.0   46.8k  [IT Services & Consulting ,  1 Lakh+ Employees...

In [ ]:
final.shape

(41028, 4)

In [ ]:
#final.to_csv('top+recruiting+companies+in+india')